> # DATA CLEANING / HANDLING MISSING VALUES


![jpg](clean.jpg)

## Introduction

The purpose of this project is to look at possible ways of preparing a dataset for exploratory data analysis.
This preporation can be achieved by carrying out the necessary steps as below.

- Taking a first look at the data
- See how many missing data points are present
- Figure out why the data is missing
- Drop missing values
- Filling in missing values

###  Take a closer look at the data
The first task on exploratory data analysis will be to examine closely the available datasets and Libraries, before loading them. Datasets of events that occured in **American football** events are used in this this cleaning exercise. More specifically datasets of building permits issued in San Francisco.

The dataset is sourced from kaggle and contains all the regular seasons plays from the 2009-2016 NFL seasons. The dataset has 356,758 rows and 100 columns. Each play is broken down into great detail containing information on: game situation, players involved, results, and advanced metrics such as expected point and win probability values. Detailed information about the dataset can be found at the following web page, along with more NFL data: https://github.com/ryurko/nflscrapR-data.

In [1]:
# Increase width display within the notebook
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:90% !important;}</style>"))

# import basic modules to be used at this level
import pandas as pd
import numpy as np
import os
from matplotlib import pyplot as plt
import io
import requests
%matplotlib inline

In [20]:
# read in the Building_Permits dataset
sf_permits = pd.read_csv("./Building_Permits.csv",low_memory=False)

#### Merging 9 Years of data into a single  csv file

In [14]:
df = pd.read_csv("./play_by_play/pbp_2009.csv",low_memory=False)

files = [file for file in os.listdir ('./play_by_play')]

all_years_data = pd.DataFrame()

for file in files:
    df = pd.read_csv("./play_by_play/"+file,low_memory=False)
    all_years_data = pd.concat([all_years_data, df])
    
all_years_data.to_csv("nfl_data.csv", index=False)

#### Read in updated dataframe
At this stage a look into the reading in of the dataset and missing values is important.

In [17]:
nfl_data = pd.read_csv("nfl_data.csv",low_memory=False)

#### A look at the Missing values

In [19]:
# A few rows of the nfl_data
nfl_data.sample(5)

,Date,GameID,play_id,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
142828,2015-09-27,2015092703,435,3,1,1.0,08:53,9,3233.0,10.0,...,1.065834,0.548281,0.451719,0.585224,0.414776,0.548281,0.036943,0.002641,0.034302,2015
69534,2016-11-13,2016111301,1127,7,2,1.0,11:03,12,2463.0,33.0,...,-0.330081,0.710022,0.289978,0.694455,0.305545,0.710022,-0.015566,-0.004033,-0.011533,2016
372672,2012-09-30,2012093007,1700,8,2,NaN,02:14,3,1934.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,2012
290484,2011-10-30,2011103002,2113,15,2,1.0,01:00,1,1860.0,0.0,...,0.368692,0.904112,0.095888,0.909192,0.090808,0.904112,0.005080,0.000267,0.004813,2011
206636,2014-11-09,2014110900,958,4,2,4.0,13:17,14,2597.0,4.0,...,NaN,0.268720,0.731280,0.300432,0.699568,0.268720,0.031711,NaN,NaN,2014

From a few rows of the nfl_data file, there are a handful of missing data alredy!

In [21]:
# A few rows of the permits_dataset
sf_permits.sample(5)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
43809,M476567,8,otc alterations permit,04/03/2014,1439,051,361,NaN,07th,Av,...,NaN,NaN,NaN,NaN,NaN,1.0,Inner Richmond,94118.0,"(37.7816911339887, -122.46573483326557)",1337495397082
28151,201310179506,8,otc alterations permit,10/17/2013,0998,044,2025,NaN,Lyon,St,...,3.0,constr type 3,3.0,constr type 3,NaN,2.0,Presidio Heights,94115.0,"(37.7896158278216, -122.44619418905904)",1321094429566
145714,201612215581,8,otc alterations permit,12/21/2016,1549,013,563,NaN,06th,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,1.0,Inner Richmond,94118.0,"(37.77791180436509, -122.46438799773063)",1448218103886
49791,201405307174,8,otc alterations permit,05/30/2014,0223,010,1040,NaN,Mason,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94108.0,"(37.793291994582496, -122.41087597899028)",134373163089
12891,201305177198,8,otc alterations permit,05/17/2013,0862,024,751,NaN,Haight,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,5.0,Haight Ashbury,94117.0,"(37.77130113994633, -122.43451946459017)",130510583430

From a few rows of the nfl and sf_permits data files, there are a handful of missing data alredy!

#### How many missing data point in each column

In [22]:
# getting the number of missing data points per column
missing_values_count = nfl_data.isnull().sum()

In [23]:
# A look at the number of missing values for the first ten columns
missing_values_count[0:10]

Date                0
GameID              0
play_id             0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
dtype: int64